version: '3.8'

services:
  backend:
    build:
      context: ./project_management_api
    ports:
      - "5000:5000"
    environment:
      - SECRET_KEY=asdf#FGSgvasgf$5$WGT
      - DATABASE_URL=sqlite:///database/app.db

  frontend:
    build:
      context: ./project_management_frontend
    ports:
      - "80:80"

  nginx:
    image: nginx:stable-alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend
      - frontend
